/* для Firefox */
* {
  scrollbar-width: 3px;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 3px;
  border: 0;
}

/* Для заголовков 4-го уровня */
h4 {
    color: #c2c2c2;
}

/* Панель навигации */
.navbar-light .navbar-nav .nav-link {
	color: #111;
	font-weight: 500;
	text-transform: uppercase;
}

/* Каруселька */
.my-carousel {
	padding: 0;
}

/* Элемент карусельки */
.my-carousel .carousel-item {
	display: flex;
}

/* Фотка на элементе карусельки */
.my-carousel .carousel-item img {
	object-fit: cover;
}

/* Выпадающее менб на навигационной панели */
.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

/* Для таблички с корзиной */
.top-menu li a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #111;
	height: 1px;
	transition: all .3s;
	transform: scale(0);
}

.top-menu li a:hover::after {
	transform: scale(1);
}

/* Размер шрифта в корзине */
.modal-body {
    font-size: 11px;
}

/* Фотка в корзине */
.modal-body img {
	max-width: 50px;
}

/* Карточка */
.product-card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	transition: all .3s;
}

/* Карточка с наведением */
.product-card:hover {
	box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

/* Верхняя часть карточки - название */
.product-thumb a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	padding: 20px;
}

/* Верхняя часть карточки - фотка */
.product-thumb img {
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 20px;
}

/* Нижняя часть карточки - инфа */
.product-details {
	padding: 20px;
}

/* Нижняя часть карточки - заголовок */
.catalog-title {
    padding: 20px;
    font-color: #111;
}

/* Нижняя часть карточки - заголовок 4-го уровня +
кнопка добавления в корзину */
.product-details h4 a {
	font-weight: 500;
	display: block;
	height: 60px;
	overflow: hidden;
	text-decoration: none;
}

/* Нижняя часть карточки - параграф */
.product-details p {
	font-size: 15px;
	margin-bottom: 20px;
	color: #999;
	height: 44px;
	overflow: hidden;
}

.product-bottom-details {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding-top: 20px;
}

/* Нижняя часть карточки - итоговая цена */
.product-price {
	font-size: 18px;
	color: #ee6e73;
	font-weight: 600;
}

/* Нижняя часть карточки - цена без скидки */
.product-price small {
	color: #ccc;
	font-weight: 400;
	text-decoration: line-through;
	margin-right: 5px;
}

/* Ссылка-иконка */
.product-links a {
	font-size: 20px;
	margin-left: 10px;
}

/* Изображение в корзине */
.basket_img {
    max-width: 50px;
    max-height: 80px;
}

/* Кнопка повышения количества товара в корзине */
.add_amount_btn {
    font-size: 15px;
	color: #999;
	height: 44px;
}

/* Кнопка уменьшения количества товара в корзине */
.del_amount_btn {
    font-size: 15px;
	color: #999;
	height: 44px;
}

/* Кнопка фильтрации */
#item_filter_button {
    margin-top: 20px;
}

/* Запрет на выделение текста */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Edge, Opera and Firefox */
}

/* Настраиваем элементы карусели */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background: #fff;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 29px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 29px;
  color: black;
}

/* Фотка товара */
.item_img {
    position: relative;
    max-width: 70%;
    max-height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

/* Название товара */
.item_title {
    padding-top: 20px;
}

/* Цена товара */
.product-price-item {
    margin-top: 20px;
    padding: 20px;
	font-size: 22px;
	color: #ee6e73;
	font-weight: 600;
}

/* Цена товара до скидки */
.product-price-item small {
    color: #ccc;
	font-weight: 400;
	text-decoration: line-through;
	margin-right: 5px;
}

/* Кнопка возврата в каталог */
.return-to-catalog {
	height: 60px;
}

/* Текст возврата в каталог */
.return-to-catalog a {
    color: black;
    font-size: 18px;
    font-weight: 450;
	text-decoration: none;
}

/* Иконка возврата в каталог */
.return-to-catalog svg {
    width: 22px;
    height: 22px;
}

/* Контейнер с бредкрамбом */
.breadcrumb-container {
    padding-top: 20px;
}

/* Контейнер с бредкрамбом */
.breadcrumb-container a {
    text-decoration: none;
}

/* Элемент бредкрамба - ссылка */
.breadcrumb-item a {
    color: #a1a1a1;
}

/* Элемент бредкрамба - последний */
.breadcrumb-item active a {
    color: #d2d2d2;
}

/* Группа вкладок */
.item-tabs {
    padding-top: 60px;
}

/* Контент группы вкладок */
.item-tab-content {
    padding: 20px;
}

/* Табличка пищевой ценности */
.nutritional-value-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80px;
    padding: 12px;
    border: 1px solid #ededed;
    border-radius: 16px;
    margin-top: 16px;
}

/* Элемент таблички пищевой ценности */
.nutritional-value-table-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    width: 103px;
    text-align: center;
}

/* Цифры в табличке пищевой ценности */
.nutritional-value-table-count {
    font-size: 20px;
	color: #000000;
	font-weight: 600;
}

/* Заголовок группы вкладок на админке */
.admin-tab-title {
    margin-bottom: 15px;
}

/* Точечки после названия характеристики */
.feature-title:after {
    margin: 0 0 4px 8px;
    content: '';
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom: 1px dotted #e7e7e7;
}

/* Название характеристики */
.feature-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #717171;
    overflow: hidden;
}

/* Ячейка таблицы характеристик */
.feature-table-cell {
    display: grid;
    grid-template-columns: 60% 60%;
    grid-column-gap: 8px;
    line-height: 20px;
    padding-top: 4px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

/* Таблица характеристик */
.features-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 8px;
    word-break: keep-all;
}

/* Фон при выделении мышкой */
.item-img-container {
    height: fit-content;
}

/* Фон при выделении мышкой */
::selection {
    background-color: #82dd47;
    color: #fff;
}

/* Заголовок страницы личного кабинета */
.personal_account_title {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Заголовок инфы о пользователе */
.user-info-title {
    padding-left: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #6c757d;
}

/* Инфа о пользователе */
.user-info-data {
    font-size: 18px;
    font-weight: 300;
    color: #a1a1a1;
}

/* Кнопка выхода */
.exit-btn {
    margin-top: 20px;
}

/* Метка обязательных полей */
.req-marker {
    color: red;
}