/* для Firefox */
* {
  scrollbar-width: 3px;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 3px;
  border: 0;
}

h4 {
    color: #c2c2c2;
}

.navbar-light .navbar-nav .nav-link {
	color: #111;
	font-weight: 500;
	text-transform: uppercase;
}

.my-carousel {
	padding: 0;
}

.my-carousel .carousel-item {
	display: flex;
}

.my-carousel .carousel-item img {
	object-fit: cover;
}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #111;
	height: 1px;
	transition: all .3s;
	transform: scale(0);
}

.top-menu li a:hover::after {
	transform: scale(1);
}

.modal-body img {
	max-width: 100px;
}

.product-card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	transition: all .3s;
}

.product-card:hover {
	box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	padding: 20px;
}

.product-thumb img {
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 20px;
}

.product-details {
	padding: 20px;
}

.catalog-title {
    padding: 20px;
    font-color: #111;
}

.product-details h4 a {
	font-weight: 500;
	display: block;
	height: 60px;
	overflow: hidden;
	text-decoration: none;
}

.product-details p {
	font-size: 15px;
	margin-bottom: 20px;
	color: #999;
	height: 44px;
	overflow: hidden;
}

.product-bottom-details {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding-top: 20px;
}

.product-price {
	font-size: 18px;
	color: #ee6e73;
	font-weight: 600;
}

.product-price small {
	color: #ccc;
	font-weight: 400;
	text-decoration: line-through;
	margin-right: 5px;
}

.product-links a {
	font-size: 20px;
	margin-left: 10px;
}

.basket_img {
    max-width: 50px;
    max-height: 80px;
}

.add_amount_btn {
    font-size: 15px;
	color: #999;
	height: 44px;
}

.del_amount_btn {
    font-size: 15px;
	color: #999;
	height: 44px;
}

#item_filter_button {
    margin-top: 20px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background: #fff;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 29px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 29px;
  color: black;
}

.item_img {
    position: relative;
    max-width: 70%;
    max-height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}


.item_title {
    padding-top: 20px;
}

.product-price-item {
    margin-top: 20px;
    padding: 20px;
	font-size: 22px;
	color: #ee6e73;
	font-weight: 600;
}

.product-price-item small {
    color: #ccc;
	font-weight: 400;
	text-decoration: line-through;
	margin-right: 5px;
}

.return-to-catalog {
	height: 60px;
}

.return-to-catalog a {
    color: black;
    font-size: 18px;
    font-weight: 450;
	text-decoration: none;
}

.return-to-catalog svg {
    width: 22px;
    height: 22px;
}

.breadcrumb-container {
    padding-top: 20px;
}

.breadcrumb-container a {
    text-decoration: none;
}

.breadcrumb-item a {
    color: #a1a1a1;
}

.breadcrumb-item active a {
    color: #d2d2d2;
}

.item-tabs {
    padding-top: 60px;
}

.item-tab-content {
    padding: 20px;
}

.nutritional-value-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80px;
    padding: 12px;
    border: 1px solid #ededed;
    border-radius: 16px;
    margin-top: 16px;
}

.nutritional-value-table-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    width: 103px;
    text-align: center;
}

.nutritional-value-table-count {
    font-size: 20px;
	color: #000000;
	font-weight: 600;
}

.feature-title:after {
    margin: 0 0 4px 8px;
    content: '';
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom: 1px dotted #e7e7e7;
}

.feature-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #717171;
    overflow: hidden;
}

.feature-table-cell {
    display: grid;
    grid-template-columns: 60% 60%;
    grid-column-gap: 8px;
    line-height: 20px;
    padding-top: 4px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.features-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 8px;
    word-break: keep-all;
}

.item-img-container {
    height: fit-content;
}

::selection {
    background-color: #82dd47;
    color: #fff;
}

header {
    margin-bottom: 70px;
}