{% extends "base.html" %}

{% block content %}

    <div class="return-to-catalog" style="padding-top: 20px;">
        <!-- Стрелочка "обратно" -->
        <a href="/admin">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
            </svg>
        </a>
        <!-- Кнопка "обратно" -->
        <a href="/admin">Обратно</a>
    </div>
    <h1>Поставщик</h1>
    <!-- Формочка -->
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <!-- Название -->
        <p>
            <span class="req-marker">*</span>{{ form.name.label }}<br>
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <!-- Расчетный счёт -->
        <p>
            <span class="req-marker">*</span>{{ form.payment_account.label }}<br>
            {{ form.payment_account(class="form-control") }}
            {% for error in form.payment_account.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <!-- Адрес -->
        <p>
            <span class="req-marker">*</span>{{ form.address.label }}<br>
            {{ form.address(class="form-control") }}
            {% for error in form.address.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <!-- Номер мобильного телефона -->
        <p>
            <span class="req-marker">*</span>{{ form.mobile_phone.label }}<br>
            {{ form.mobile_phone(class="form-control", type="tel") }}
            {% for error in form.mobile_phone.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <!-- Почта -->
        <p>
            <span class="req-marker">*</span>{{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}
            {% for error in form.email.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <!-- Кнопка подтверждения -->
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {% if message|length > 0 %}
        <div div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endif %}
    </form>
{% endblock %}