{% extends "base.html" %}

{% block content %}
    <!-- Служебные данные для сборки ссылок возврата -->
    <meta id="cat-filters" data-cat-filters="{{ cat_filters }}"
          data-cat-ids="{{ checked_buttons|join(',') }}"
          data-max-price="{{ cur_price }}">
    <div class="container">
        <div class="row">
            <div class="col-12 breadcrumb-container">
                <!-- Бредкрамб -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    {% if cat_filters %}
                        <li class="breadcrumb-item"><a href="/catalog">Каталог</a></li>
                        <li class="breadcrumb-item active">{{ cat_filters }}</li>
                    {% else %}
                        <li class="breadcrumb-item active">Каталог</li>
                    {% endif %}
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-12 return-to-catalog">
                <!-- Стрелочка "обратно" -->
                <a href="{{ '/catalog' if cat_filters else '/'}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                    </svg>
                </a>
                <!-- Кнопка "обратно" -->
                <a href="{{ '/catalog' if cat_filters else '/'}}">Обратно</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <!-- Блок фильтров (формочка) -->
                <form class="item_filter_form" method="post">
                    <!-- Заголовок -->
                    <h2>Каталог</h2>
                    <div class="d-flex flex-column h-25">
                        <!-- Категории -->
                        <div style="height: 300px; overflow-x: hidden; overflow-y: scroll">
                            <!-- По всем категориям проставляем чекбоксы -->
                            {% for item in categories %}
                                <!-- Чекбокс с категорией -->
                                <div class="form-check">
                                    {% if item['id'] in checked_buttons %}
                                        <!-- Нажатые кнопочки (при перезагрузке) -->
                                        <input class="form-check-input" type="checkbox" value="{{ item['id'] }}" id="cat{{ item['id'] }}" name="cat" checked>
                                    {% else %}
                                        <!-- Ненажатые кнопочки -->
                                        <input class="form-check-input" type="checkbox" value="{{ item['id'] }}" id="cat{{ item['id'] }}" name="cat">
                                    {% endif %}
                                    <label class="form-check-label" for="cat{{ item['id'] }}">
                                        <!-- Название категории - рядом с чекбоксом-->
                                        {{ item['name'] }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Фильтр максимальной цены - слайдер -->
                        <label for="price_range" class="form-label" style="margin-top: 20px">Максимальная цена:
                            <span id="price_text">{{ cur_price }}</span>₽
                        </label>
                        <input type="range" class="form-range" min="0" max="{{ max_price }}"
                               name="price_range" value="{{ cur_price }}" step="0.5"
                               id="price_range">
                        <!-- Кнопка применения фильтра - отправка формы -->
                        <button type="submit" class="btn btn-primary" id="item_filter_button">
                            Показать товары
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-9 col-sm-12">
                <div id="message_container"></div>
                <!-- Заголовок части каталога с карточками -->
                <h1 style="text-align: center">Список товаров</h1>
                    <!-- Если есть товары -->
                    {% if items|length > 0 %}
                        <!-- Считаем сколько вкладок с товарами -->
                        {% set iters_amount = (items|length / 6)|round(0, 'ceil')|int %}
                        <!-- Считаем сколько карточек на последней вкладке -->
                        {% set last_row = 6 - (iters_amount * 6 - items|length) %}
                        <!-- Листалака вкладок с карточками -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <!-- Кнопка "<" -->
                                <li class="page-item disabled" id="item-list-prev-btn-container">
                                    <a class="page-link" id="item-list-prev-btn" aria-label="Previous">
                                        <span class="noselect" aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <!-- Окошечко с номером текущей вкладки с товарами-->
                                <li class="page-item"><a class="page-link"><span class="noselect" id="cur-item-list-number">1</span></a></li>
                                <!-- Кнопка ">" -->
                                <li class="{{ 'page-item disabled' if items|length <= 6 else 'page-item' }}" id="item-list-next-btn-container">
                                    <a class="page-link" id="item-list-next-btn" aria-label="Next">
                                        <span class="noselect" aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        {% for i in range(iters_amount) %}
                            <div class="container"  name="{{'first' if loop.first else 'last' if loop.last else 'mid'}}" id="item-list{{ loop.index }}" style="{{'display: block;' if loop.first else 'display: none;'}}">
                                <div class="row">
                                    <!-- Сколько итераций делать на последней строке карусели -->
                                    {% if loop.last %}
                                        {% set row_iters_amount = last_row %}
                                    {% else %}
                                        {% set row_iters_amount = 6 %}
                                    {% endif %}
                                    <!-- Картчоки продуктов -->
                                    {% for j in range(row_iters_amount) %}
                                        {% set item = items[i * 6 + j] %}
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="product-card">
                                                <div class="product-thumb">
                                                    <!-- Фотка товара -->
                                                    <a
                                                            href="/catalog/{{ item['id'] }}?from_catalog=true&cat={{ checked_buttons|join(',') }}&max_price={{ cur_price }}"><img src="/static/img/items/item{{ item['id'] }}.png"></a>
                                                </div>
                                                <div class="product-details">
                                                    <!-- Название товара -->
                                                    <h4><a href="/catalog/{{ item['id'] }}?from_catalog=true&cat={{ checked_buttons|join(',') }}&max_price={{ cur_price }}">{{ item['name'] }}</a></h4>
                                                    <div class="product-bottom-details d-flex justify-content-between">
                                                        <div class="product-price">
                                                            <!-- Цена -->
                                                            {% if item['discount'] == 0 %}
                                                                <!-- Без скидки -->
                                                                {{ item['price'] }}₽
                                                            {% else %}
                                                                <!-- Со скидкой  -->
                                                                {% set new_price = item['price'] * (1 - item['discount'] * 0.01) %}
                                                                {{ new_price|round(2) }}₽ <small>{{ item['price'] }}₽</small>
                                                            {% endif %}
                                                        </div>
                                                        <div class="product-links">
                                                            {% if current_user.is_authenticated %}
                                                                <!-- Для авторизованного пользователя кнопка добавляет товар в корзину -->
                                                                <a class="add_item_button" id="item{{ item['id'] }}"><i class="fas fa-shopping-cart"></i></a>
                                                            {% else %}
                                                                <!-- А для обычного - переброс на авторизацию -->
                                                                <a href="/login"><i class="fas fa-shopping-cart"></i></a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <!-- Если список товаров пуст -->
                        <h3 style="text-align: center; color: grey">Товары не найдены</h3>
                    {% endif %}
            </div>
        </div>
    </div>
    <script src="/static/js/item_list_script.js"></script>
{% endblock %}