{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    {% if from_catalog %}
                        <li class="breadcrumb-item"><a href="/catalog">Каталог</a></li>
                    {% endif %}
                    {% if cat_filters %}
                        <li class="breadcrumb-item"><a href="/catalog?cat={{ cat_ids }}">{{ cat_filters }}</a></li>
                    {% endif %}
                    {% if from_item_page %}
                        <li class="breadcrumb-item"><a href="/catalog/{{ from_item_page }}?max_price={{ max_price }}{{ '&cat={{ cat_ids }}' if cat_filters }}{{ '&from_catalog=true' if from_catalog }}">{{ item_name }}</a></li>
                    {% endif %}
                    <li class="breadcrumb-item active" aria-current="page">Личный кабинет</li>
                </ol>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12">
              <h2 class="personal_account_title">Мой аккаунт</h2>
              <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Мой кабинет</a>
                  <a class="list-group-item list-group-item-action" id="list-personal-data-list" data-bs-toggle="list" href="#list-personal-data" role="tab" aria-controls="list-personal-data">Личные данные</a>
                  <a class="list-group-item list-group-item-action" id="list-order-history-list" data-bs-toggle="list" href="#list-order-history" role="tab" aria-controls="list-order-history">История заказов</a>
              </div>
              <a type="button" class="btn btn-primary" href="/logout">Выход</a>
          </div>
          <div class="col-md-8 col-sm-12">
              <h1 class="personal_account_title">Личный кабинет</h1>
              <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                      <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="product-card" id="personal-data-btn">
                                    <div class="product-thumb">
                                        <a><img src="/static/img/personal_account_cards/card_1.png"></a>
                                    </div>
                                    <div class="catalog-title">
                                        <h3>Личные данные</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="product-card" id="order-history-btn">
                                    <div class="product-thumb">
                                        <a><img src="/static/img/personal_account_cards/card_2.png"></a>
                                    </div>
                                    <div class="catalog-title">
                                        <h3>История заказов</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="tab-pane fade show" id="list-personal-data" role="tabpanel" aria-labelledby="list-personal-data-list">
                      <h2>Личные данные</h2>
                      <ul>
                          <li><span class="user-info-title">Фамилия: </span><span class="user-info-data">{{ current_user.name }}</span></li>
                          <li><span class="user-info-title">Имя: </span><span class="user-info-data">{{ current_user.surname }}</span></li>
                          <li><span class="user-info-title">Номер телефона: </span><span class="user-info-data">{{ current_user.mobile_phone }}</span></li>
                      </ul>
                      <a type="button" class="btn btn-primary" href="/change_user_data">Редактировать</a>
                  </div>
                  <div class="tab-pane fade show" id="list-order-history" role="tabpanel" aria-labelledby="list-order-history-list">
                      {% if orders|length > 0 %}
                        <h2>Ваши заказы</h2>
                            <nav aria-label="Page navigation example">
                              <ul class="pagination justify-content-center">
                                  <li class="page-item disabled" id="order-prev-btn-container">
                                      <a class="page-link" id="order-prev-btn" aria-label="Previous">
                                          <span class="noselect" aria-hidden="true">&laquo;</span>
                                      </a>
                                  </li>
                                  <li class="page-item"><a class="page-link"><span class="noselect" id="cur-order-number">1</span></a></li>
                                  <li
                                          class="{{ 'page-item disabled' if orders|length == 1 else 'page-item' }}" id="order-next-btn-container">
                                      <a class="page-link" id="order-next-btn" aria-label="Next">
                                          <span class="noselect" aria-hidden="true">&raquo;</span>
                                      </a>
                                  </li>
                              </ul>
                            </nav>
                            {% for order in orders %}
                                <div class="order-table-container">
                                    <table name="{{'first' if loop.first else 'last' if loop.last else 'mid'}}"
                                           class="table table-bordered" id="order{{ loop.index }}"
                                           style="{{'display: block;' if loop.first else 'display: none;'}}">
                                        <thead class="table-secondary">
                                        <tr>
                                            <th>ID</th>
                                            <th>Дата создания заказа</th>
                                            <th>Дата завершения заказа</th>
                                            <th colspan="2">Статус</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">{{ order['id'] }}</th>
                                                <td>{{ order['start_date'] }}</td>
                                                <td>{{ order['end_date'] }}</td>
                                                {% if order['is_complited'] %}
                                                    <td class="table-success" colspan="2">Завершен</td>
                                                {% else %}
                                                    <td class="table-warning" colspan="2">Не завершен</td>
                                                {% endif %}
                                            </tr>
                                        <tr>
                                          <th class="table-secondary" colspan="5">Список товаров</th>
                                        </tr>
                                        <tr class="table-light">
                                            <th>ID</th>
                                            <th>Название</th>
                                            <th>Изображение</th>
                                            <th>Цена за 1шт</th>
                                            <th>Количество</th>
                                        </tr>
                                        {% for item in order['items_list'] %}
                                            {% set item_data = item['item'] %}
                                            {% set amount = item['amount'] %}
                                            {% set new_price = item_data['price'] * (1 - item_data['discount'] * 0.01) %}
                                            <tr>
                                                <td>{{ item_data['id'] }}</td>
                                                <td>{{ item_data['name'] }}</td>
                                                <td class="text-center"><img src="/static/img/items/item{{ item_data['id'] }}.png" alt="" class="basket_img"></td>
                                                <td>{{ new_price|round(2) }}</td>
                                                <td>{{ amount }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                          {% endfor %}
                      {% else %}
                        <h2>Вы ещё не совершали покупок</h2>
                      {% endif %}
                  </div>
              </div>
              <script>
                    var cur_order_id = 1;

                    function switchButton(btnID) {
                        var someListItemEl = document.getElementById(btnID);
                        var tab = new bootstrap.Tab(someListItemEl);

                        tab.show();
                    }

                    function changeCurOrderNumber(curOrderId) {
                        var curOrderNumber = document.getElementById(
                            'cur-order-number'
                        );
                        curOrderNumber.innerHTML = `${curOrderId}`;
                    }

                    function toNextOrder() {
                        var curOrder = document.getElementById(
                            `order${cur_order_id}`
                        );
                        curOrder.style.display = 'none';

                        cur_order_id++;
                        var nextOrder = document.getElementById(
                            `order${cur_order_id}`
                        );
                        nextOrder.style.display = 'block';

                        changeCurOrderNumber(cur_order_id);

                        prevBtn = document.getElementById(
                            'order-prev-btn-container'
                        );

                        nextBtn = document.getElementById(
                            'order-next-btn-container'
                        );

                        if (nextOrder.getAttribute('name') == 'last') {
                            nextBtn.setAttribute(
                                'class', 'page-item disabled'
                            );
                        }
                        prevBtn.setAttribute('class', 'page-item');
                    }

                    function toPrevOrder() {
                        var curOrder = document.getElementById(
                            `order${cur_order_id}`
                        );
                        curOrder.style.display = 'none';

                        cur_order_id--;
                        var prevOrder = document.getElementById(
                            `order${cur_order_id}`
                        );
                        prevOrder.style.display = 'block';

                        changeCurOrderNumber(cur_order_id);

                        prevBtn = document.getElementById(
                            'order-prev-btn-container'
                        );

                        nextBtn = document.getElementById(
                            'order-next-btn-container'
                        );

                        if (prevOrder.getAttribute('name') == 'first') {
                            prevBtn.setAttribute(
                                'class', 'page-item disabled'
                            );
                        }
                        nextBtn.setAttribute('class', 'page-item');
                    }

                    $('#personal-account-btn').on('click', function() {
                        switchButton('list-personal-account-list');
                    });
                    $('#personal-data-btn').on('click', function() {
                        switchButton('list-personal-data-list');
                    });
                    $('#order-history-btn').on('click', function() {
                        switchButton('list-order-history-list');
                    });
                    $('#order-next-btn').on('click', function() {
                        toNextOrder();
                    });
                    $('#order-prev-btn').on('click', function() {
                        toPrevOrder();
                    });
              </script>
          </div>
        </div>
    </div>
{% endblock %}