<!-- Страница личного кабинета -->
{% extends "base.html" %}

{% block content %}
    <!--  Служебные данные для сборки ссылок -->
    <meta id="data"
          data-from-catalog="{{ from_catalog }}"
          data-item-id="{{ item_id }}"
          data-max-price="{{ max_price }}"
          data-cat-ids="{{ cat_ids }}">
    <!-- Контейнер со всем содержимым на странице -->
    <div class="container">
        <!-- Контейнер с бредкрамбом -->
        <div class="row">
            <!-- Бредкрамб -->
            <div class="col-12 breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    {% if from_catalog %}
                        <li class="breadcrumb-item"><a href="/catalog">Каталог</a></li>
                    {% endif %}
                    {% if cat_filters %}
                        <li class="breadcrumb-item"><a href="/catalog?cat={{ cat_ids }}&max_price={{ max_price }}">{{ cat_filters }}</a></li>
                    {% endif %}
                    {% if item_id %}
                        <li class="breadcrumb-item"><a href="/catalog/{{ item_id }}?cat={{ cat_ids }}&max_price={{ max_price }}" id="item-page-href">{{ item_name }}</a></li>
                    {% endif %}
                    <li class="breadcrumb-item active" aria-current="page">Личный кабинет</li>
                </ol>
            </div>
        </div>
        <!-- Контейнер с кнопкой возврата -->
        <div class="row">
            <!-- Стрелочка возврата -->
            <div class="col-12 return-to-catalog">
                <a href="/" id="return_to_prev_page_btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                    </svg>
                </a>
                <!-- Текст возврата -->
                <a href="/" id="return_to_prev_page_txt">Обратно</a>
            </div>
        </div>
        <!-- Контейнер с переключателем вкладок личного кабинета -->
        <div class="row">
          <div class="col-md-4 col-sm-12">
              <div id="message_container"></div>
              <h2 class="personal_account_title">Мой аккаунт</h2>
              <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Мой кабинет</a>
                  <a class="list-group-item list-group-item-action" id="list-personal-data-list" data-bs-toggle="list" href="#list-personal-data" role="tab" aria-controls="list-personal-data">Личные данные</a>
                  <a class="list-group-item list-group-item-action" id="list-order-history-list" data-bs-toggle="list" href="#list-order-history" role="tab" aria-controls="list-order-history">История заказов</a>
              </div>
              <!-- Кнопка выхода из профиля -->
              <a type="button" class="btn btn-primary exit-btn" href="/logout">Выход</a>
          </div>
          <!-- Контейнер со вкладками личного кабинета -->
          <div class="col-md-8 col-sm-12">
              <!-- Общий заголовок -->
              <h1 class="personal_account_title">Личный кабинет</h1>
              <div class="tab-content" id="nav-tabContent">
                  <!-- Вкладка с карточками -->
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                      <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="product-card" id="personal-data-btn">
                                    <div class="product-thumb">
                                        <a><img src="/static/img/personal_account_cards/card_1.png"></a>
                                    </div>
                                    <!-- Заголовок личных данных -->
                                    <div class="catalog-title">
                                        <h3>Личные данные</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="product-card" id="order-history-btn">
                                    <div class="product-thumb">
                                        <a><img src="/static/img/personal_account_cards/card_2.png"></a>
                                    </div>
                                    <!-- Заголовок истории заказов -->
                                    <div class="catalog-title">
                                        <h3>История заказов</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="tab-pane fade show" id="list-personal-data" role="tabpanel" aria-labelledby="list-personal-data-list">
                      <!-- Вкладка с личными данными -->
                      <h2>Личные данные</h2>
                      <ul>
                          <!-- Фамилия -->
                          <li><span class="user-info-title">Фамилия: </span><span class="user-info-data">{{ current_user.name }}</span></li>
                          <!-- Имя -->
                          <li><span class="user-info-title">Имя: </span><span class="user-info-data">{{ current_user.surname }}</span></li>
                          <!-- Номер мобильного телефона -->
                          <li><span class="user-info-title">Номер телефона: </span><span class="user-info-data">{{ current_user.mobile_phone }}</span></li>
                      </ul>
                      <!-- Кнопка редактирования -->
                      <a type="button" class="btn btn-primary" href="/change_user_data">Редактировать</a>
                  </div>
                  <div class="tab-pane fade show" id="list-order-history" role="tabpanel" aria-labelledby="list-order-history-list">
                      <!-- Вкладка со всеми заказами -->
                      {% if orders|length > 0 %}
                        <h2>Ваши заказы</h2>
                            <!-- Листалка заказов -->
                            <nav aria-label="Page navigation example">
                              <ul class="pagination justify-content-center">
                                  <!-- Кнопка "<" -->
                                  <li class="page-item disabled" id="order-prev-btn-container">
                                      <a class="page-link" id="order-prev-btn" aria-label="Previous">
                                          <span class="noselect" aria-hidden="true">&laquo;</span>
                                      </a>
                                  </li>
                                  <!-- Номер текущего заказа-->
                                  <li class="page-item"><a class="page-link"><span class="noselect" id="cur-order-number">1</span></a></li>
                                  <!-- Кнопка ">" -->
                                  <li
                                          class="{{ 'page-item disabled' if orders|length == 1 else 'page-item' }}" id="order-next-btn-container">
                                      <a class="page-link" id="order-next-btn" aria-label="Next">
                                          <span class="noselect" aria-hidden="true">&raquo;</span>
                                      </a>
                                  </li>
                              </ul>
                            </nav>
                            <!-- Собираем таблички с заказами -->
                            {% for order in orders %}
                                <div class="order-table-container">
                                    <!-- Табличка с заказом -->
                                    <table name="{{'first' if loop.first else 'last' if loop.last else 'mid'}}"
                                           class="table table-bordered" id="order{{ loop.index }}"
                                           style="{{'display: block;' if loop.first else 'display: none;'}}">
                                        <thead class="table-secondary">
                                        <!-- Заголовки -->
                                        <tr>
                                            <!-- Id азказа -->
                                            <th>ID</th>
                                            <!-- Дата создания -->
                                            <th>Дата создания заказа</th>
                                            <!-- Дата закрытия (когда курьер привезет заказ) -->
                                            <th>Дата завершения заказа</th>
                                            <!-- Статус заказа -->
                                            <th colspan="2">Статус</th>
                                        </tr>
                                        </thead>
                                        <!-- Контент -->
                                        <tbody>
                                            <tr>
                                                <!-- Id заказа -->
                                                <th scope="row">{{ order['id'] }}</th>
                                                <!-- Дата создания -->
                                                {% if order['start_date']  %}
                                                    <td>{{ order['start_date'] }}</td>
                                                {% else %}
                                                    <td>-</td>
                                                {% endif %}
                                                <!-- Дата закрытия -->
                                                {% if order['end_date']  %}
                                                    <td>{{ order['end_date'] }}</td>
                                                {% else %}
                                                    <td>-</td>
                                                {% endif %}
                                                <!-- Статус -->
                                                {% if order['is_complited'] %}
                                                    <td class="table-success" colspan="2">Завершен</td>
                                                {% else %}
                                                    <td class="table-warning" colspan="2">Не завершен</td>
                                                {% endif %}
                                            </tr>
                                        <!-- Вторая часть инфо о заказе - товары -->
                                        <!-- Заголовоки -->
                                        <tr>
                                            <!-- Список товаров <" -->
                                          <th class="table-secondary" colspan="5">Список товаров</th>
                                        </tr>
                                        <tr class="table-light">
                                            <!-- Id товара -->
                                            <th>ID</th>
                                            <!-- Название товара -->
                                            <th>Название</th>
                                            <!-- Изображение товара -->
                                            <th>Изображение</th>
                                            <!-- Цена за 1шт -->
                                            <th>Цена за 1шт</th>
                                            <!-- Количество товара -->
                                            <th>Количество</th>
                                        </tr>
                                        <!-- Заполняем табличку информацией о товарах -->
                                        {% for item in order['items_list'] %}
                                            <!-- Инфа о товаре -->
                                            {% set item_data = item['item'] %}
                                            <!-- Количество -->
                                            {% set amount = item['amount'] %}
                                            <!-- Цена со скидкой -->
                                            {% set new_price = item_data['price'] * (1 - item_data['discount'] * 0.01) %}
                                            <tr>
                                                <!-- Id товара -->
                                                <td>{{ item_data['id'] }}</td>
                                                <!-- Название товара -->
                                                <td>{{ item_data['name'] }}</td>
                                                <!-- Фотка товара -->
                                                <td class="text-center"><img src="/static/img/items/item{{ item_data['id'] }}.png" alt="" class="basket_img"></td>
                                                <!-- Цена товара -->
                                                <td>{{ new_price|round(2) }}</td>
                                                <!-- Количество товара -->
                                                <td>{{ amount }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                          {% endfor %}
                      {% else %}
                        <!-- Если не было выполнено ни одного заказа -->
                        <h2>Вы ещё не совершали покупок</h2>
                      {% endif %}
                  </div>
              </div>
              <script src="/static/js/personal_account_script.js"></script>
          </div>
        </div>
    </div>
{% endblock %}